
<table>
<td>
<form method="post" action="http://testcab.openview.it/restapi_media.php"><br>
  
  <input type="text" name="codice"><br>
   <input type="text" name="nomefile"><br>
 
  <input type="submit" value="send">
</form>
</td>



		




		
	</tr>
</table>
</form>



